<h1 mat-dialog-title>Agregar Curso</h1>
<div mat-dialog-content >
  <p>ingrese la siguiente información</p>
  
  <form [formGroup]="courseForm">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input [formControl]="nameCourseControl" matInput placeholder="Nombre del Curso">
                <mat-icon matSuffix>badge</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
                <mat-label>Numero de Horas</mat-label>
                <input [formControl]="numberHoursControl" matInput placeholder="Numero de Horas">
                <mat-icon matSuffix>badge</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Numero de Clases</mat-label>
              <input [formControl]="numberClassesControl" matInput placeholder="Numero de Clases">
              <mat-icon matSuffix>admin_panel_settings</mat-icon>
              <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Nombre del Maestro</mat-label>
            <input [formControl]="nameTeacherControl" matInput placeholder="Nombre del Maestro">
            <mat-icon matSuffix>group</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="center-content">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button [mat-dialog-close]="courseForm.value" cdkFocusInitial>Guardar</button>
</div>
