
<div class="button-container">
    <button (click)="createCourse()" mat-raised-button  class="addButton">
      Añadir Curso
    </button>
  </div>
  <br>

    <table mat-table [dataSource]="(courses$ | async) || []" class="mat-elevation-z8 table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
    
      <ng-container matColumnDef="nameCourse">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.nameCourse}}</td>
      </ng-container>

      <ng-container matColumnDef="numberHours">
        <th mat-header-cell *matHeaderCellDef>Numero de Horas</th>
        <td mat-cell *matCellDef="let element">{{element.numberHours}}</td>
      </ng-container>

      <ng-container matColumnDef="numberClasses">
        <th mat-header-cell *matHeaderCellDef>Numero de clases</th>
        <td mat-cell *matCellDef="let element">{{element.numberClasses}}</td>
      </ng-container>

      <ng-container matColumnDef="nameTeacher">
        <th mat-header-cell *matHeaderCellDef>Genero</th>
        <td mat-cell *matCellDef="let element">{{element.nameTeacher}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="editCourse(element)" mat-icon-button color="accent" >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteCourse(element)" mat-icon-button color="warn" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>