<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="550px">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div>
              <!-- <app-students-page></app-students-page> -->
              <!-- <app-course-page></app-course-page> -->
              <!-- <app-registration-page></app-registration-page> -->
              <!-- <app-user-page></app-user-page> -->
              <router-outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-list>
</div>
